.backGround {
    background-image: linear-gradient(to top, #e9941d 0%, #972a05 100%);
}

.logoRow > div {
    padding: 2px !important;
}


.item {
    transition: transform .2s;
    font-weight: bold;
    margin-right: 20px;
}

.item:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    color: orangered;
}
