.backGround {
    background-image: linear-gradient(to top, #e9941d 0%, #972a05 100%);
}

.logoRow > div {
    padding: 0 !important;
}

.item {
    float: left;
    color: #972a05;
    font-weight: bold;
}

.itemAuth {
    float: right;
}


.item {
    transition: transform .2s;
   
    margin: 0 auto;
}

.item:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    color: grey;
}
