.formContainer {
    margin-top: 5rem;
    background: rgba(255, 255, 255, 0.4);
    padding: 2rem;
}

.form-group, select.form-control {
    align-items: center;
}

h4 {
    text-align: center;
}

.form-group, .Label, .input :checked {
    text-align: left;
    line-height: 2rem;
}

.form-control :hover {
    background-color: rgba(240, 160, 70, 0.336);
}



/* 
.leftCol {
    background-color: lightgray;
    margin: 30px 0 0 30px;
    margin-left: 100px;
}

.middleCol {
    background-color: lightgray;
    margin: 30px 0 0 30px;
    text-align: center;
}

.rightCol {
    background-color: lightgray;
    margin: 30px 0 0 30px;
    text-align: left
}
 */
