Footer {
    background-image: linear-gradient(to top, #272726 0%, #c9c5c3 100%);
}

.Footerpage {
    color: white;
}

.FooterHeader {
    text-align: center;
    color: coral;
}

.MDBCardTitle {
    color: coral;
}

.card-body {
    text-align: center;
}

img {
    /* padding: 1.5rem; */
}